.main-container {
    margin-top: 50px;
}
.img-background01 {
    background-image: url('../img/background01.jpg');
    height: 300px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

hr {
    color: white;
}
.img-profile {
    border-radius: 50%;
    max-width: 450px;
    max-height: 250px;
}